/* Global Styles
====================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0 auto 0 auto;
    font-family: "Work Sans", helvetica, arial, sans-serif;
    max-width: 800px;
}


#app {
    padding-top: 200px;
}

main {
    text-align: center;
    margin: auto;
}
  
svg {
    background-color: ghostwhite;
}
  
#title p {
    font-size: 1.2em;
    font-weight: bold;
}
  
figure {
    margin-top: 2em;
}
  
figcaption {
    font-weight: bold;
}

.tooltip {
    background-color: gainsboro;
    position: absolute;
    opacity: 0;
    color: black;
    font-size: 16px;
    padding: 5px;
    pointer-events: none;
    border: 2px solid slategray;
    border-radius: 3px;
    text-align: center;
  }
  
.legend rect {
    fill: snow;
    opacity: 0.9;
    stroke: dimgray;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden; 
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
