#app {
    padding-top: 200px;
}

main {
    text-align: center;
    margin: auto;
}
  
svg {
    background-color: ghostwhite;
}
  
#title p {
    font-size: 1.2em;
    font-weight: bold;
}
  
figure {
    margin-top: 2em;
}
  
figcaption {
    font-weight: bold;
}

.tooltip {
    background-color: gainsboro;
    position: absolute;
    opacity: 0;
    color: black;
    font-size: 16px;
    padding: 5px;
    pointer-events: none;
    border: 2px solid slategray;
    border-radius: 3px;
    text-align: center;
  }
  
  .legend rect {
    fill: snow;
    opacity: 0.9;
    stroke: dimgray;
  }