#app {
    padding-top: 200px;
}

main {
    text-align: center;
    margin: auto;
}
  
svg {
    background-color: floralwhite;
}
  
#title p {
    font-size: 1.2em;
    font-weight: bold;
}
  
figure {
    margin-top: 2em;
}
  
figcaption {
    font-weight: bold;
}